<?xml version="1.0" encoding="iso-8859-1"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Standard Output (Info & Debug Logs) -->
        <Console name="ConsoleOut" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false">
                <Pattern>[%d{HH:mm:ss}] [%t/%highlight{%p}]: %msg%n%throwable</Pattern>
            </PatternLayout>
        </Console>

        <!-- Standard Error (Warnings & Errors) -->
<!--        <Console name="ConsoleErr" target="SYSTEM_ERR">-->
<!--            <ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>-->
<!--            <PatternLayout disableAnsi="false">-->
<!--                <Pattern>[%d{HH:mm:ss}] [%t/%highlight{%p}]: %msg%n%throwable</Pattern>-->
<!--            </PatternLayout>-->
<!--        </Console>-->
    </Appenders>
    <Loggers>
        <Logger name="org.hibernate" level="warn" additivity="false">
            <AppenderRef ref="ConsoleOut"/>
        </Logger>
        <Logger name="dev.qilletni.lang.internal.BackgroundTaskExecutor" level="${sys:LANG_INTERNAL_LOG_LEVEL:-DEBUG}" additivity="false">
            <AppenderRef ref="ConsoleOut"/>
        </Logger>
        <Logger name="dev.qilletni.lang.internal" level="${sys:LANG_INTERNAL_LOG_LEVEL:-INFO}" additivity="false">
            <AppenderRef ref="ConsoleOut"/>
        </Logger>
        <Logger name="dev.qilletni.impl" level="${sys:QL_LOG_LEVEL:-INFO}" additivity="false">
            <AppenderRef ref="ConsoleOut"/>/
        </Logger>
<!--        <Logger name="dev.qilletni.lib.spotify" level="${sys:QL_LOG_LEVEL:-DEBUG}" additivity="false">-->
<!--            <AppenderRef ref="ConsoleOut"/>-->
<!--        </Logger>-->
        <Logger name="dev.qilletni.lib.core" level="${sys:QL_LOG_LEVEL:-INFO}" additivity="false">
            <AppenderRef ref="ConsoleOut"/>
        </Logger>
        <Logger name="dev.qilletni.toolchain" level="${sys:TOOLCHAIN_LOG_LEVEL:-INFO}" additivity="false">
            <AppenderRef ref="ConsoleOut"/>
        </Logger>
        <Logger name="dev.qilletni.docgen" level="${sys:DOCGEN_LOG_LEVEL:-DEBUG}" additivity="false">
            <AppenderRef ref="ConsoleOut"/>
        </Logger>
        <Root level="${sys:OTHER_LOG_LEVEL:-INFO}">
            <AppenderRef ref="ConsoleOut"/>
        </Root>
    </Loggers>
</Configuration>